* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-container {
  width: 100%;
  min-height: 100vh;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
  z-index: 50;
}
.header-body {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 30%;
}
.divide {
  display: none;
}
.header-burger {
  display: none;
}
.content{
  width: 100%;
  height: 100%;
  background: url("../images/soft-skills-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  overflow: hidden;
}
.nav-link {
  width: 250px;
  color: rgba(0,0,0,1);
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align:center;
  text-decoration: none;
  position: relative;
  top: 30%;
}
.nav-link:hover {
  opacity: 40%;
}
.home-link-responsive {
  display: none;
}

.home-link {
  position: relative;
  left: 5%;
  color: rgba(22, 112, 0, 1);
  font-family: Open Sans;
  font-weight: bold;
  font-size: 24px;
  opacity: 1;
  text-decoration: none;
  position: relative;
  top: 7%;
}
.link-block {
  position:relative;
  width: 130px;
  height: 50px;
  background-color: rgba(255,255,255, 0.7);
  text-align: center;
  padding-top: 0.4%;
  opacity: 50%;
}
.home-link:hover {
  color: rgba(22, 112, 0, 1);
}
.link-block:hover {
  background-color: white;
}
.arrow {
  position: relative;
  top:3px;
}
.title {
  color: rgba(133,32,0,1);
  position: relative;
  top: 15vh;
  left: 35vw;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 5px;
  opacity: 1;
  text-align: left;
}
.info-block {
  width: 484px;
  height: 412px;
  background-color: rgba(255,255,255, 0.6);
  position: relative;
  top: 5vh;
  left: 50vw;
}
.info-text {
  position: relative;
  top: 10%;
  width: calc(100%-15px);
  margin-left: auto;
  margin-right: auto;
}
.row {
  height: 50px;
}
.info-item {
  width: 179px;
  color: black;
  opacity: 100%;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
  }
  @media screen and (max-width: 768px) {
    .header {
      height: 60px;
      display: flex;
      justify-content: space-between;
    }
    .header-body {
      display: none;
    }
    .header-body.active {
      position: fixed;
      top: 6%;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: white;
      width: 300px;
      height: 900px;
      padding-left: 10px;
      padding-bottom: 50px;
    }

    .nav-link {
      top: 0;
      text-align: left;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
   .divide {
     display: inline;
     color: black;
     opacity: 20%;
     size: 1px;
     width: 280px;

   }

    .header-burger {
      display:block;
      position: relative;
      width: 50px;
      height: 30px;
      top: 18px;
    }
    .header-burger span {
      position: absolute;
      background-color: black;
      opacity: 30%;
      left: 0;
      width: 100%;
      height: 2px;
      top: 14px;
    }
    .header-burger:before,
    .header-burger:after {
      content: '';
      position: absolute;
      background: black;
      opacity: 30%;
      width: 100%;
      height: 2px;
      left: 0;
    }
    .header-burger:before {
      top: 0;
    }
    .header-burger:after {
      bottom: 0;
    }
    .header-burger.active span {
      transform: scale(0);
    }
    .header-burger.active:before {
      transform: rotate(45deg);
      top: 13.5px;
      opacity: 15%;
    }
    .header-burger.active:after {
      transform: rotate(-45deg);
      bottom: 13.5px;
      opacity: 15%;
    }
    .content {
      top:60px;
      background: url("../images/wallpaper.jpg");
      background-size: cover;
      background-position: center;
    }
    .home-link {
      display: none;
    }
    .home-link-responsive {
      display: block;
      position: relative;
      top: 25px;
      left: 0;
      color: rgba(22, 112, 0, 1);
      font-family: Open Sans;
      font-size: 18px;
      opacity: 1;
      text-decoration: none;
      position: relative;
    }
    .arrow-resp {
      position: relative;
      top: 3px;
      height: 18px;
    }
    .info-block {
      width: 100vw;
      min-height: 100vh;
      position: absolute;
      left: 0;
      top: 15%;
      background: linear-gradient(65deg, rgba(255,255,255, 0.9), rgba(255,255,255, 0.0)) ;
      height: 70%;
    }
    .info-text {
      top: 5%;
    }
    .info-item {
      font-size: 16px;
    }

    .title {
      color: rgba(133,32,0,1);
      top: 7vh;
      width: 100%;
      left: 0;
      text-align:center;
    }

  }
